#container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #010101;
  z-index: 999;
  display: grid;
  align-items: center;
  left: 0;
  transition: 0.3s ease-in-out;
  opacity: 0
}

#dark {
    background: #010101;
    transition: 0.8s all ease;
}

#transparent {
    background: transparent;
    transition: 0.8s all ease;
}

#closeIcon {
  color: #ffffff;
}

#icon {
  position: absolute;
  right: 1.5rem;
  font-size: 2rem;
  background: transparent;
  cursor: pointer;
  outline: none;
}

#navbar-wrapper {
  color: #ffffff;}

#navbar-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;
  @media screen and (max-width: 480px) {
    grid-template-rows: repeat (6, 60px);
  }
}

.navbar-link{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-family:poppins;
  font-weight:600;
  cursor: pointer;
  font-size:1rem;
}

.navbar-link:hover {
    color: #555555;
    transition: 0.2s ease-in-out;
  }
